.timespan-select {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    border: solid;
    border-radius: 12px;
    flex-wrap: wrap;
}

.ts-button {
    margin: 2vw 2vw;
    border-radius: 5px;
    padding: 4vw 5vw;
    color: slategray;
}

.ts-button-selected {
    background-color: #1b5e20;
    color: white;
}

.market-title {
    text-align: center;
}

h1 {
    margin-bottom: 0vh;
}

#maingraph {
    margin-top: 1vh;
    margin-bottom: 3vh;
}