<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get data</title>

    <link rel="stylesheet" href="../public/style/get-market.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
</head>
<body>
    <div class="market-title">
        <h1>Cardano</h1>
    </div>

    <div id="maingraph"></div>

    <div class="timespan-select">
        <div onclick="HandleButton(this)" class="ts-button ts-button-selected">~</div>
        <div onclick="HandleButton(this)" class="ts-button">H</div>
        <div onclick="HandleButton(this)" class="ts-button">D</div>
        <div onclick="HandleButton(this)" class="ts-button">W</div>
        <div onclick="HandleButton(this)" class="ts-button">M</div>
    </div>

    <script src="../public/script/get-market.js"></script>
</body>
</html>