<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div>
        <div onclick="HandleButton(this)" class="button button-selected">~</div>
        <div onclick="HandleButton(this)" class="button">H</div>
        <div onclick="HandleButton(this)" class="button">D</div>
        <div onclick="HandleButton(this)" class="button">W</div>
        <div onclick="HandleButton(this)" class="button">M</div>
    </div>

    <script>
        function HandleButton(obj) {
            let res = 1, start = "", end = "";

            switch(obj.firstChild.textContent) {
                case '~': {
                    res = 1;
                    end = new Date()
                    start = new Date(end.valueOf() - 15 * 60000)
                    break;
                }
                case 'H': {
                    res = 4;
                    end = new Date()
                    start = new Date(end.valueOf() - 60 * 60000)
                    break;
                }
                case 'D': {
                    res = 60;
                    end = new Date()
                    start = new Date(end.valueOf() - 24 * 60 * 60000)
                    break;
                }
                case 'W': {
                    res = 450;
                    end = new Date()
                    start = new Date(end.valueOf() - 7 * 24 * 60 * 60000)
                    break;
                }
                case 'M': {
                    res = 1500;
                    end = new Date()
                    start = new Date(end.valueOf() - 30 * 24 * 60 * 60000)
                    break;
                }
            }

            $.getJSON(`http://portfolio.plopfyre.studio/market/ADA-EUR?res=${res}&start=${start.toDBString()}&end=${end.toDBString()}`, (data) => {
                console.log(data.data[0])
                console.log(DateFromSQLString(data.data[0].DataTime))
            })
        }
        
        Date.prototype.toDBString = function() {
            return this.toISOString().slice(0, 19).replace('T', ' ')
        }

        function DateFromSQLString (sqlstring){
            //sqlDate in SQL DATETIME format ("yyyy-mm-dd hh:mm:ss.ms")
            var sqlDateArr1 = sqlstring.split("-");
            //format of sqlDateArr1[] = ['yyyy','mm','dd hh:mm:ms']
            var sYear = sqlDateArr1[0];
            var sMonth = (Number(sqlDateArr1[1]) - 1).toString();
            var sqlDateArr2 = sqlDateArr1[2].split(" ");
            //format of sqlDateArr2[] = ['dd', 'hh:mm:ss.ms']
            var sDay = sqlDateArr2[0];
            var sqlDateArr3 = sqlDateArr2[1].split(":");
            //format of sqlDateArr3[] = ['hh','mm','ss.ms']
            var sHour = sqlDateArr3[0];
            var sMinute = sqlDateArr3[1];
            var sqlDateArr4 = sqlDateArr3[2].split(".");
            //format of sqlDateArr4[] = ['ss','ms']
            var sSecond = sqlDateArr4[0];
            var sMillisecond = sqlDateArr4[1];
            
            return new Date(sYear,sMonth,sDay,sHour,sMinute,sSecond,sMillisecond);
        }
    </script>
</body>
</html>